.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.logo_place_header img {
  position: absolute;
  z-index: 1;
  width: 154px;
  height: 31px;
  top: 30px;
  left: 64px;
  object-fit: contain;
}

.header__title {
  width: 730px;
  z-index: 1;
  margin-left: 64px;
}

.header__title span {
  display: block;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  position: absolute;
  width: 388px;
  left: 64px;
  bottom: 30px;
  z-index: 1;
}

.header__subtitle span {
  display: block;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
}

.header__main-illustration img {
  width: 756px;
  height: 608px;
}

.header__square {
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -1;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
